
{% extends 'SonataPageBundle::layout.html.twig' %}

{% set debug = (app.debug or app.request.cookies.has('_debug'))? 1 : 0 %}

{% block sonata_page_stylesheets %}
    {#      Google fonts        #}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {#      Bootstrap Core CSS  #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    {#      font awesome        #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {#      App CSS             #}
    {% if debug %}
        <link rel="stylesheet" href="{{ asset('app/dist/main.css') }}">

    {% else %}
        {{parent()}}
    {% endif %}

{% endblock %}

{% block sonata_page_javascripts %}
    <noscript>
    <style>
        html{
            opacity: 1;
        }
    </style>
    </noscript>
    {#      app config      #}
    <script type="text/javascript">
        {% set host = app.request.schemeAndHttpHost %}
        {% set baseUrl =  app.request.baseUrl  %}
            if (typeof conf === 'undefined')
                var conf = {};

            conf.ver = '1.0';
            conf.site = '{{ host }}';
            conf.root = '{{ baseUrl }}';
            conf.api = '{{ host }}{{ baseUrl }}/api/';
            conf.tpl = '{{ host }}{{ baseUrl | replace({'/app_dev.php':'', '/app.php':''}) }}/app/src/js/app/tpls/';
            conf.debug = {{ debug | abs}};
    </script>
        {#    
         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
            <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
        #}

    {#      app JS      #}
    {% if debug %}

        <script src="{{ asset('app/dist/build.js') }}"></script>
        <script src="{{ asset('app/dist/plugins.js') }}"></script>

    {% else %}
        {{parent()}}
    {% endif %}

{% endblock %}

{% block sonata_page_body_tag %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        {% include "SonataSeoBundle:Block:_facebook_sdk.html.twig" %}
        {#{% include "SonataSeoBundle:Block:_twitter_sdk.html.twig" %}#}
        {#{% include "SonataSeoBundle:Block:_pinterest_sdk.html.twig" %}#}

        {% include "AppBundle:Parts:main_header.html.twig" %}

    {% endblock %}


    {% block sonata_page_container %}
        <div id="app">
            <div class="page_holder" id="page_holder_1"></div>
            <div class="page_holder" id="page_holder_2"></div>
            <div id="preloader"></div>
        </div>
    {% endblock %}

{% block sonata_page_breadcrumb %}{% endblock %}
